<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auth form app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" href="/index.css"/>
</head>
<body>
    <div>
        Loading...
        <script src="/index.js"></script>
    </div>
    <footer class="text-center text-white">
        <small> <a href="https://shogenov.com" target="_blank">2019 shogenov.com</a></small>
    </footer>
</body>
</html>
